// uso de mixins 

@mixin footer {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-align: center;
}

.footing {@include footer}

@mixin  repaired {
    color: orange;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.repair {
    @include repaired
}