footer {
    background-color: gray;
    address {
        p {
            font-size: 10px;
            color: white;
            h6 {
                font-size: 10px;
                color: black;

            }
        }
    }
}