body {
    background-image: url("/logo1.jpg");
    background-size: cover;
    header {
        padding: 40px 40px;
        border:  1px solid black;
        h1 {
            font-size: 36px;
            color: white;
            text-align: center;
        }
    }
}